.c1{
    background: url(./imagens/slide1.png);
    background-size:cover;
    width: 100vw;
    height: 115vh;
}
.c2{
    background: url(./imagens/slide2.png);
    background-size:cover;
    width: 100vw;
    height: 115vh;
}
.c3{
    background: url(./imagens/slide3.png);
    background-size:cover;
    width: 100vw;
    height: 115vh;
}