@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0; padding: 0;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}
.nav-bar{
    margin: auto;
    background-color: #7e7e7e;
}
.nav-bar ul li{
    display: inline;
    text-align: center;
    align-items: center;
    max-width: 60%;   
}
.nav-bar ul li a{
    margin-left: 5%;
    font-size: 16px;
    text-transform: capitalize;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 300;
}
.nav-bar ul li a:hover{
    color: #473737;
}
.container{
    position: relative;
}
.container .slide-container1{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10 px;
    padding: 10px 5%;
    padding-bottom: 90px;
    margin-right: 40%;
}
.container .slide-container .slide :hover{
    background-color: #cfcfcf7f;
}
.container .slide-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px 5%;
    padding-bottom: 70px;
    margin-right: 55%;
}
.c1{
    background: url(./imagens/slide1.png);
    background-size:cover;
    width: 100vw;
    height: 115vh;
}
.c2{
    background: url(./imagens/slide2.png);
    background-size:cover;
    width: 100vw;
    height: 115vh;
}
.c3{
    background: url(./imagens/slide3.png);
    background-size:cover;
    width: 100vw;
    height: 115vh;
}
.c4{
    background: url(./imagens/slide4.png);
    background-size:cover;
    width: 100vw;
    height: 115vh;
}



footer{
    background-color: rgb(235, 233, 233);
    padding: 50px;
}
.container-footer{
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 22px;
    color: rgb(7, 7, 7);
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}
.footer-col ul{
    list-style: none;
}
.footer-col ul li{
    margin: 10px 0;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: rgb(7, 7, 7);
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #473737;
    padding-left: 10px;
}
.footer-col .form-sub input{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid white;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
}
.footer-col .form-sub input::placeholder{
    color: rgb(3, 3, 3);
}
.footer-col .form-sub button{
    width: 100%;
    margin-top: 10px;
    padding: 10px; 
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #000000;
    border-radius: 3px;
    font-weight: bold;
    background-color: white;        
}

@media (max-width:1000px) {
    .footer-col{
        width: 100%;
    }
    .container .slide-container .slide{
    width: 90%;
    }
}

@media (max-width: 800px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
    
    .container .slide-container{
            width: 90%;
    }
}
@media (max-width:600px) {
    .footer-col{
        width: 100%;
    }
    .container .slide-container {
    width: 80%;
    }
}
