*{
    background-color: black;
    box-sizing: border-box;
}
  .container{
    background-color: rgb(176, 17, 216);
    display: flex;
    flex-wrap: wrap;
    max-width: 45vw;
    justify-content: center;
    align-items: center;
    margin: 5% auto;
    padding-bottom: 2%;
    
}
button{
    width: 10vw;
    font-size: 4em;
    background-color: rgb(229, 212, 245);
    border-radius: 1em;
}
button:hover{
    cursor: pointer;
    background-color: rgb(160, 97, 219);
}
.btn{
    min-width: 30vw;
}
.result{
    background-color:  rgb(176, 17, 216);
    color: white;
    display: flex;
    flex-basis: 40vw;
    justify-content: flex-end;
    margin: 1em;
    font-size: 4em;
}
