body{
    background-color: #000000;
    color: beige;
    height: 100%;
    margin: 0; padding: 0;
}
.carrosel{
    width: 1200px;
    outline: 3px solid black;
    box-shadow: 10px 10px 15px rgb(0, 0, 0,0.7);
    overflow: hidden;
    margin: 50px auto;
}
.carrosel ul{
    display: flex;
    list-style: none;
    width: 7200px;
}
.carrosel li{
    position: relative;
    animation: slide 30s infinite ease-out;
}

@keyframes slide{
    20%{left: 0px;}

    40%{left:  -1200px;}

    60%{left: -2400px;}

    80%{left: -3600px;}

    100%{left: -4800px;}
}
.menu ul li{
    background-color: #fbf8ec;
    color: rgb(0, 0, 0);   
    width: 23%;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    font-family: 'Courier New';
    align-items: center;
}
.imgs{
    margin: 2%;
}
p{
    font-family: 'Courier New';
    font-size: large;
    text-align: center;
}
footer{
    text-decoration: floralwhite;
}
.rodape ul li{ 
    display: table;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    font-family: 'Courier New';
    align-items: center;
    list-style: none;
}