*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Roboto', sans-serif;
}
h1{
    color: blueviolet;
    font-size: 10vh;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 35vh;
}